body {

}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Playfair Display" serif;
    background: url("../img/halftone.png") repeat;
    background-size: cover;
}

.header h1 {
    font-size: 40px;
    text-align: center;
}

.header h1 small {
    font-size: 28px;
}

.menu {
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline;
    margin-left: 7px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li.active {
    border-bottom: 2px solid #550000;
}

.menu li a {
    color: #EE5757;
    text-decoration: none;
}

.content {
    /*background-color: rgba(237, 237, 237, 0.43);*/
    margin: 30px 8%;
    padding: 7px 20px;
}

.content *:not(.description) {
    font-family: "Merriweather" serif;
}

.description {
    border-left: 4px solid #550000;
    margin-left: 4%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #fff;
}

